.menu-icon-stroke {
    width: 15px;
    height: 2px;
    background-color: #ffffff;
    margin: 3px 0;
}

.menu-icon-stroke-1 {
    margin-top: 0;
}

.menu-icon-container {
    width: 15px;
}

.top-navbar-title {
    margin-top: -.4em;
    padding-left: 1em;
}

.menu-icon-container:hover {
    cursor: pointer;
}