.top-utility-bar {
    /*height: 5%;*/
    width: 100%;
    background-color: #4c6a85;
    position: fixed;
    z-index: 1;
}

.search-input {
    width: 70%;
    background-color: #ffffff;
}

.search-bar-title {
    color: #ffffff;
    padding-left: 0.5em;
    padding-top: 0.5em;
    margin-bottom: 0em;
}

.search-bar-title-container {
    padding: 0.5em;
}

.row {
    margin: 0;
}

.search-icon, .search-input {
    display: inline-block;
}

.search-bar-container {
    padding: 0.5em;
}

.search-icon {
    position: relative;
    left: -30px;
}

.history-dash-view {
    background-color: #f1f1f1;
}

.App {
    height: 100%;
}


.calendar-view-container, .history-list-container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    height: 400px;
    background-color: #ffffff;
}

.visualization-dashboard {
    /*margin-top: 3em;*/
}

.calendar-view-container {
    margin-bottom: 2em;
    overflow: scroll;
}

.visualization-container {
    padding: 2em;
    padding-top: 6em;
    overflow: scroll;

}

.day {
    stroke: #fff;
}

.day:active {
    stroke: #000!important;
}

.toolTip {
    pointer-events: none;
    position: absolute;
    display: none;
    min-width: 50px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    color: #5B6770;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
    opacity: .8;
    font-size: 1em;
}

.toolTip span {
    color: #081F2C;
}

.selected-date-title {
    font-weight: bold;
}

.selected-date-title-container {
    padding-top: 2em;
    margin-left: 2em;
}

.item-time {
    text-align: center;
}


.history-list-container {
    overflow: scroll;
    height: 100%;
}

.item-icon, .item-title-container {
    display: inline-block;
}

.item-icon {
    height: 20px;
    width: 20px;
}

.item-url {
    margin-left: -1em;
}
.item-icon, .item-time, .item-url {
    padding: 0;
}

.item-link {
    color: #000;
}
