#root {
    height: 600px;
    width: 400px;
    background-color: #f5f5f5;
    font-family: "Roboto";
}

.app-container-overlay {
    height: 600px;
    width: 400px;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}